<div class="ui stackable grid">
  <div class="row"> 
    <div class="sixteen wide column"> 
      <div *ngIf="media">
        <div *ngIf="media.Video" class="videoWrapper">
          <iframe *ngIf="media.isPossibleToView" width="{{media.Video.Width}}" height="{{media.Video.Height}}" [src]="TempEmbedUrl | safe" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="ui segment">
          <video-upload
            [mediaId]="mediaId"
            (sendVideo)="UploadVideoFile($event)"
          ></video-upload>
          <h4 class="ui dividing header">Видео</h4>
          <table *ngIf="media.Videos && media.Videos.length > 0" class="ui celled striped table">
            <thead>
              <tr>
                <th>Время создания</th>
                <th>Пропорции</th>
                <th>Продолжительность</th>
                <th>Статус</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Video of media.Videos | orderBy: ['-CreateTime']">
                <td>{{Video.CreateTime | date:'dd-MM-yyyy HH:mm'}}</td>
                <td>{{Video.Width}}x{{Video.Height}}</td>
                <td>{{Video.Duration | secondsToTime}}</td>
                <td>{{Video.StateName}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="ui segment">          
          <media-form 
            [title]="media.Title" 
            [description]="media.Description" 
            [channels]="channels"
            [channelId]="media.ChannelId"
            [shootDate]="media.ShootDate"
            [state]="media.State"

            (formResults)="formUpdated($event)"
            (changeBlock)="changeMediaBlock($event)"            
          ></media-form>
        </div>

        <div class="ui segment">
          <h4 class="ui dividing header">Действия</h4>          
          <button class="ui red button" *ngIf="media.isPossibleToBlock" (click)="mediaBlock()">Block</button>
          <button class="ui green button" *ngIf="media.isPossibleToUnblock" (click)="mediaUnblock()">Unblock</button>
          <button class="ui button" *ngIf="media.isAvailableMediaStat" (click)="viewVideo()">Отчеты по ролику</button>
          <a class="ui orange button" *ngIf="media.isAvailableOnSite" href="https://www.newstube.ru/embed/{{media.MediaGuid}}" target="_blank" title="Посмотреть на сайте">Посмотреть на сайте</a>     
        </div>

        <div class="ui segment">
          <h4 class="ui dividing header">Данные по ролику</h4>
          <table class="ui celled striped table">
              <tbody>
                <tr>
                  <td class="collapsing">
                      Время создания
                  </td>
                  <td>{{media.CreateTime | date:'dd-MM-yyyy HH:mm'}}</td>
                </tr>
                <tr>
                  <td class="collapsing">
                      Время изменения
                  </td>
                  <td>{{media.UpdateTime | date:'dd-MM-yyyy HH:mm'}}</td>
                </tr>
                <tr>
                  <td class="collapsing">
                      Статус
                  </td>
                  <td><div [ngClass]="media.StateColor"class="ui label">{{media.StateName}}</div></td>
                </tr>
                <tr>
                  <td class="collapsing">
                      Канал
                  </td>
                  <td>{{ChannelName}}</td>
                </tr>
                <tr>
                  <td class="collapsing">
                      Ссылка на сайт
                  </td>
                  <td>
                    <a *ngIf="media.isAvailableOnSite" href="https://www.newstube.ru/embed/{{media.MediaGuid}}" target="_blank" title="Посмотреть на сайте">https://www.newstube.ru/embed/{{media.MediaGuid}}</a>
                  </td>
                </tr>
                <tr>
                  <td class="collapsing">
                      Кол-во просмотров
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td class="collapsing">
                      Ссылка на страницу просмотра статистики
                  </td>
                  <td></td>
                </tr>
              </tbody>
          </table>   
        </div>
        
      </div>
    </div>
  </div>
</div>