<div class="ui stackable grid">
  <div class="row"> 
    <div class="sixteen wide column"> 
      <div *ngIf="media">
        <iframe *ngIf="media.Video" width="{{media.Video.Width}}" height="{{media.Video.Height}}" [src]="media.EmbedUrl | safe" frameborder="0" allowfullscreen></iframe>
        <media-form 
          [title]="media.Title" 
          [description]="media.Description" 
          [channels]="channels"
          [channelId]="media.ChannelId"
          [shootDate]="media.ShootDate"
          [state]="media.State"
          [videoFileProgress]="videoFileProgress"
          (formResults)="formUpdated($event)"
          (changeBlock)="changeMediaBlock($event)"
          (sendVideo)="UploadVideoFile($event)"
        ></media-form>
      </div>
    </div>
  </div>
</div>