<table class="ui celled striped table">
  <thead>
    <tr>
      <th>Descriprion</th>
      <th>Icon</th>
      <th>Logo</th>
      <th>Id</th>
      <th>Guid</th>
      <th>Title</th>
      <th>Url</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>Jamie</td>
        <td>No Name Specified</td>
        <td>Unknown</td>
        <td>None</td>
        <td>No Name Specified</td>
        <td>Unknown</td>
        <td>None</td>
    </tr>
    <tr>
        <td>Jamie</td>
        <td>No Name Specified</td>
        <td>Unknown</td>
        <td>None</td>
        <td>No Name Specified</td>
        <td>Unknown</td>
        <td>None</td>
    </tr>
    <tr>
        <td>Jamie</td>
        <td>No Name Specified</td>
        <td>Unknown</td>
        <td>None</td>
        <td>No Name Specified</td>
        <td>Unknown</td>
        <td>None</td>
    </tr>
    <tr>
        <td>Jamie</td>
        <td>No Name Specified</td>
        <td>Unknown</td>
        <td>None</td>
        <td>No Name Specified</td>
        <td>Unknown</td>
        <td>None</td>
    </tr>
  </tbody>
</table>