<form class="ui form" (ngSubmit)="onSubmit()" [formGroup]="mediaForm">
    <h4 class="ui dividing header">Media description</h4>

    <div class="field" [ngClass]="{'error' : !mediaForm.controls['title'].valid && mediaForm.controls['title'].touched}">
        <label>Title:</label>
        <input placeholder="Title" type="text" [formControlName]="'title'">
    </div>
    <div class="field" [ngClass]="{'error' : !mediaForm.controls['description'].valid && mediaForm.controls['description'].touched}">
        <label>Description</label>
        <textarea placeholder="Description" [formControlName]="'description'">{{description}}</textarea>
    </div>

    <div class="field">
        <label>Channel:</label>
        <select placeholder="Channel" type="text" [formControlName]="'channelId'">
            <option *ngFor="let c of channels" [ngValue]="c.Id">{{c.Title}}</option>
        </select>
    </div>

    <div class="field" [ngClass]="{'error' : !mediaForm.controls['shootDate'].valid && mediaForm.controls['shootDate'].touched}">
        <label>Shoot date:</label>
        <calendar (changeDate)="onDateChange($event)" [fGroup]="mediaForm" [fControlName]="'shootDate'"></calendar>                
    </div>

    <div class="field" *ngIf="false">
        <div class="ui toggle checkbox">
            <input type="checkbox" [formControlName]="'state'" (change)="onBlockMedia($event)">
            <label>Block</label>
        </div>
    </div>

    <button type="submit" class="ui green submit button" [disabled]="!mediaForm.valid">Submit</button>
    <div class="ui error message">
        <ul>If you are looking for validation you should check out.</ul>
    </div>
</form>