<form class="ui form" (ngSubmit)="onSubmit()" [formGroup]="mediaForm">
    <h4 class="ui dividing header">Описание ролика</h4>

    <div class="field" [ngClass]="{'error' : !mediaForm.controls['title'].valid && mediaForm.controls['title'].touched}">
        <label>Заголовок:</label>
        <input placeholder="Заголовок" type="text" [formControlName]="'title'">
    </div>
    <div class="field" [ngClass]="{'error' : !mediaForm.controls['description'].valid && mediaForm.controls['description'].touched}">
        <label>Описание:</label>
        <textarea placeholder="Описание" [formControlName]="'description'">{{description}}</textarea>
    </div>

    <div class="field">
        <label>Канал:</label>
        <input placeholder="Канал" type="text" [value]="ChannelName" [disabled]="true" *ngIf="editForm">
        <select placeholder="Channel" type="text" [formControlName]="'channelId'" *ngIf="!editForm">
            <option *ngFor="let c of channels" [ngValue]="c.Id">{{c.Title}}</option>
        </select>
    </div>

    <div class="field" [ngClass]="{'error' : !mediaForm.controls['shootDate'].valid && mediaForm.controls['shootDate'].touched}">
        <label>Время съемки:</label>
        <calendar (changeDate)="onDateChange($event)" [fGroup]="mediaForm" [fControlName]="'shootDate'"></calendar>                
    </div>

    <div class="field" *ngIf="false">
        <div class="ui toggle checkbox">
            <input type="checkbox" [formControlName]="'state'" (change)="onBlockMedia($event)">
            <label>Block</label>
        </div>
    </div>

    <button type="submit" class="ui green submit button" [disabled]="!mediaForm.valid">Сохранить</button>
    <div class="ui error message">
        <ul>If you are looking for validation you should check out.</ul>
    </div>
</form>