<div class="ui inverted menu">
  <div class="ui container">    
    <a class="item header" [routerLinkActive]="['active']" [routerLink]="['/videos']">Videos</a>
    <a class="item header" [routerLinkActive]="['active']" [routerLink]="['/media']">Media</a>
    <a class="green color item"><i class="plus icon"></i>Add media</a>
    <div class="right menu">
      <a *ngIf="!authService.isAuthenticated()" class="item" [routerLinkActive]="['active']" [routerLink]="['/login']">Login</a>  
      <a *ngIf="authService.isAuthenticated()" class="item" [routerLinkActive]="['active']" [routerLink]="['/login']">{{ authService.username }} Logout</a>  
    </div>
  </div>
</div>

<div class="ui main container">
    <router-outlet></router-outlet>
</div>