<div class="ui inverted menu">
  <div class="ui container">    
    <a class="item header" [routerLinkActive]="['active']" [routerLink]="['/medias']">Medias</a>
    <a class="green color item"><i class="plus icon"></i>Add media</a>
    <div class="right menu">
      <div class="item">{{ partnerService.loginName }}</div>
      <a class="item" [routerLinkActive]="['active']" [routerLink]="['/login']">Login</a>  
      <a class="item" [routerLinkActive]="['active']" [routerLink]="['/logout']">Logout</a>  
    </div>
  </div>
</div>

<div class="ui main container">
    <router-outlet></router-outlet>
</div>