<div class="ui stackable grid">
  <div class="row">
    <div class="sixteen wide column">
      <label>
        Show 
        <select [ngModel]="itemsPerPage" (ngModelChange)="onChange($event)" >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="5">5</option>
        </select>
         entries
      </label>
    </div>
  </div>
  <div class="row no-padding">
    <div class="sixteen wide column">
      <table class="ui celled striped table">
        <thead>
          <tr>
            <th>Название</th>
            <th>Время публикации</th>
            <th>Картинки</th>
            <th>Статус</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td>
                <a  [routerLink]="['/media', 1234]">Катар ответил на ультиматум 4 арабских государств</a>
              </td>
              <td>5 июля 2017 г. 8:08</td>
              <td><img class="ui tiny image" src="https://i0.newstube.ru/509778"></td>
              <td><div class="ui label green">Status</div></td>
              <td>
                <a href=""><i class="edit icon"></i></a>
                <a href=""><i class="check circle icon"></i></a>
                <a href=""><i class="remove circle icon"></i></a>
                <a href=""><i class="external icon"></i></a>
                <a href=""><i class="play icon"></i></a>
              </td>
          </tr>
          <tr>
              <td>
                <a  [routerLink]="['/media', 456456]">Катар ответил на ультиматум 4 арабских государств</a>
              </td>
              <td>No Name Specified</td>
              <td><img class="ui tiny image" src="https://i0.newstube.ru/4771625"></td>
              <td>None</td>
              <td>No Name Specified</td>
          </tr>
          <tr>
              <td>
                <a  [routerLink]="['/media', 96313]">Катар ответил на ультиматум 4 арабских государств</a>
              </td>
              <td>No Name Specified</td>
              <td><img class="ui tiny image" src="https://i0.newstube.ru/2843162"></td>
              <td>None</td>
              <td>No Name Specified</td>
          </tr>
          <tr *ngFor="let media of medias">
              <td>
                <a  [routerLink]="['/media', media.MediaId]">{{media.Title}}</a>
              </td>
              <td>{{media.ShootDate | date:'medium'}} / {{media.PubDate | date:'medium'}}</td>
              <td><img class="ui tiny image" [src]="media.ThumbnailUrl"></td>
              <td><div [ngClass]="media.State ? 'green' : 'red'"class="ui label">State {{media.State}}</div></td>
              <td>None</td>
          </tr>  
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="seven wide column">
      <div class="table-info">Showing {{currentPage * itemsPerPage - itemsPerPage + 1}} to {{itemsPerPage * currentPage}} of {{totalItems}} entries</div>
    </div>
    <div class="right aligned nine wide column">

      <pagination *ngIf="currentPage" (goToPage)="pageUpdated($event)" [page]="currentPage" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage"></pagination>

    </div>
  </div>
</div>