<div class="ui stackable grid">
  <div class="row">
    <div class="eight wide column">
      <label>
        Show 
        <select [ngModel]="itemsPerPage" (ngModelChange)="onItemsPerPageChange($event)" >
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="25">25</option>
        </select>
         entries
      </label>
    </div>
    <div class="eight wide column">
      <label>
        Channel: 
        <select [ngModel]="channelId" (ngModelChange)="onChannelChange($event)" >
            <option *ngFor="let c of channels" [ngValue]="c.Id">{{c.Title}}</option>
        </select>
      </label>
    </div>
  </div>
  <div class="row no-padding"  *ngIf="medias && medias.length > 0">
    <div class="sixteen wide column">
      <table class="ui celled striped table">
        <thead>
          <tr>
            <th>Название</th>
            <th>Время публикации</th>
            <th>Картинки</th>
            <th>Статус</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let media of medias">
              <td>
                <a  [routerLink]="['/media', media.MediaId]">{{media.Title}}</a>
              </td>
              <td>{{media.ShootDate | date:'medium'}} / {{media.PubDate | date:'medium'}}</td>
              <td><img class="ui tiny image" [src]="media.ThumbnailUrl"></td>
              <td><div [ngClass]="media.StateColor"class="ui label">{{media.StateName}}</div></td>
              <td>
                <a  [routerLink]="['/media', media.MediaId]"><i class="edit icon"></i></a>
                <a href="https://www.newstube.ru/embed/{{media.MediaGuid}}" target="_blank" (click)="openViewWindow($event)"><i class="external icon"></i></a>
              </td>
          </tr>  
        </tbody>
      </table>
    </div>
  </div>
  <div class="row"  *ngIf="medias && medias.length > 0">
    <div class="seven wide column">
      <div class="table-info">Showing {{currentPage * itemsPerPage - itemsPerPage + 1}} to {{(itemsPerPage * currentPage > totalItems) ? totalItems : (itemsPerPage * currentPage)}} of {{totalItems}} entries</div>
    </div>
    <div class="right aligned nine wide column">

      <pagination *ngIf="currentPage" (goToPage)="pageUpdated($event)" [page]="currentPage" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage"></pagination>

    </div>
  </div>
</div>