<div class="ui stackable grid">
  <div class="row">
    <div class="sixteen wide column">
      <label>
        Показывать по 
        <select [ngModel]="itemsPerPage" (ngModelChange)="onItemsPerPageChange($event)" >
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="25">25</option>
        </select>
         роликов
      </label>
    </div>
  </div>
  <div class="row">
    <div class="seven wide column">
      <div class="table-info">Показаны с {{currentPage * itemsPerPage - itemsPerPage + 1}} по {{(itemsPerPage * currentPage > totalItems) ? totalItems : (itemsPerPage * currentPage)}} из {{totalItems}} роликов</div>
    </div>
    <div class="right aligned nine wide column">

      <pagination *ngIf="currentPage && medias && medias.length > 0" (goToPage)="pageUpdated($event)" [page]="currentPage" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage"></pagination>

    </div>
  </div>
  <div class="row no-padding">
    <div class="sixteen wide column">
      <table class="ui celled striped table">
        <thead>
          <tr>
            <th>Название</th>
            <th>Канал</th>
            <th>Время съемки</th>
            <th>Время публикации</th>
            <th>Картинки</th>
            <th>Статус</th>
            <th>Действия</th>
          </tr>
          <tr class="media-filters">
            <th>
              <input type="text" [ngModel]="title" (ngModelChange)="onTitleChange($event)">
            </th>
            <th>
              <select [ngModel]="channelId" (ngModelChange)="onChannelChange($event)" >
                  <option *ngFor="let c of channels" [value]="c.Id">{{c.Title}}</option>
              </select>
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th>
              <select [ngModel]="stateId" (ngModelChange)="onStateChange($event)" >
                  <option *ngFor="let s of states | keys | orderBy: ['+key']" [value]="s.key">{{s.value}}</option>
              </select>
            </th>
            <th>

            </th>
          </tr>
        </thead>
        <tbody *ngIf="medias && medias.length > 0">
          <tr *ngFor="let media of medias" [id]="media.MediaId">
              <td>
                <a  [routerLink]="['/media', media.MediaId]">{{media.Title}}</a>
              </td>
              <td>
                {{getChannelName(media.ChannelId)}}
              </td>
              <td>{{media.ShootDateUtc | date:'dd.MM.yyyy HH:mm'}}</td>
              <td>{{media.PubDateGMT | date:'dd.MM.yyyy HH:mm'}}</td>
              <td><img class="ui tiny image" [src]="media.ThumbnailUrl"></td>
              <td><div [ngClass]="media.StateColor" class="ui label">{{media.StateName}}</div></td>
              <td>
                <div class="ui buttons">
                  <button class="ui icon button" [routerLink]="['/media', media.MediaId]" title="редактировать"><i class="edit icon"></i></button>
                  <button class="ui blue icon button" *ngIf="media.isPossibleToView" title="смотреть видео" (click)="videoView.Show(media)"><i class="video play outline icon"></i></button>
                  <button class="ui red icon button" *ngIf="media.isPossibleToBlock" title="заблокировать" (click)="mediaBlock(media.MediaId)"><i class="lock icon"></i></button>
                  <button class="ui green icon button" *ngIf="media.isPossibleToUnblock" title="разблокировать" (click)="mediaUnblock(media.MediaId)"><i class="unlock icon"></i></button>
                  <a class="ui icon button" *ngIf="media.isAvailableOnSite" href="{{media.CanonicalUrl}}" target="_blank" title="смотреть на сайте" (click)="openViewWindow($event)"><i class="external icon"></i></a>
                </div>
              </td>
          </tr>
          
        </tbody>

        <tbody *ngIf="!medias || medias.length == 0">
          <tr>
            <td colspan="7">
                Нет роликов соответствующим условиями поиска
            </td>
          </tr>
        </tbody>
        <div class="ui inverted dimmer" [class.active]="loadingMedia">
            <div class="ui loader"></div>
          </div>     
      </table>
      
    </div>
  </div>
  <div class="row">
    <div class="seven wide column">
      <div class="table-info">Показаны с {{currentPage * itemsPerPage - itemsPerPage + 1}} по {{(itemsPerPage * currentPage > totalItems) ? totalItems : (itemsPerPage * currentPage)}} из {{totalItems}} роликов</div>
    </div>
    <div class="right aligned nine wide column">

      <pagination *ngIf="currentPage && medias && medias.length > 0" (goToPage)="pageUpdated($event)" [page]="currentPage" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage"></pagination>

    </div>
  </div>
</div>
<video-view #videoView></video-view>