<div class="ui stackable grid">
  <div class="row"> 
    <div class="sixteen wide column"> 
      <div *ngIf="media">
        <iframe width="{{media.Video.Width}}" height="{{media.Video.Height}}" [src]="media.EmbedUrl | safe" frameborder="0" allowfullscreen></iframe>
        <media-form 
          [title]="media.Title" 
          [description]="media.Description" 
          [channels]="channels"
          [channelId]="media.ChannelId"
          (formResults)="formUpdated($event)"
        ></media-form>
      </div>
    </div>
  </div>
</div>