<div class="ui inverted menu">
    <div class="ui container">    
        <a class="item header" [routerLinkActive]="['active']" [routerLink]="['/media']">Ролики</a>
        <a class="green color item" [routerLinkActive]="['active']" [routerLink]="['/media/add']"><i class="plus icon"></i>Добавить ролик</a>
        <div class="right menu">
        <a *ngIf="!authService.isAuthenticated()" class="item" [routerLinkActive]="['active']" [routerLink]="['/login']">Вход</a>  
        <a *ngIf="authService.isAuthenticated()" class="item" [routerLinkActive]="['active']" [routerLink]="['/login']">{{ authService.username }} Выход</a>  
        </div>
    </div>
</div>